
<div>
    <ul class="nav navbar-nav">
        <li>
            <input type="button" id="btn1" name="btn1" class="btn1" value="De 6" />            
        </li>
        <li>
            <input type="button" id="btn2" name="btn2" class="btn2" value="De 20" />
        </li>
        <li>
            <input type="button" id="btn3" name="btn3" class="btn3" value="De 100" />
        </li>        
    </ul>
</div>

@section de {
    @Scripts.Render("~/bundles/De")
    }