<div class="ajout">
    <ul class="nav navbar-nav">
        <li >
            <input type="button" id="btn1" name="btn1"  value="D6" />
        </li>
        <li>
            <input type="button" id="btn2" name="btn2"  value="D20" />
        </li>
        <li>
            <input type="button" id="btn3" name="btn3"  value="D100" />
        </li>
    </ul>
</div>

