@{
    ViewBag.Title = "JDRHelper";
}
<h2>@ViewBag.Title</h2>
<div class="div">
    <h3>Les créateurs</h3>

    <div class="gauche">
        <h4>
            Alexandre Bouillot dit "Alex", Développeur .net Junior
        </h4>

        <img src="https://scontent.fbru2-1.fna.fbcdn.net/v/t1.0-9/54522421_10218669834599951_9093723050251124736_n.jpg?_nc_cat=102&_nc_ht=scontent.fbru2-1.fna&oh=a5e34efeeb0549f67b4c68604958ebe8&oe=5D136A80" class="image"/>
        <p>
            Fan d'armes et amoureux des animaux (surtout les chèvres), Alex recherche l'amour dans les alentours de Chimay. Il est assez difficile, mais n'aime pas les coups d'un soir. S'il vous choisit, ça sera pour du long terme.
        </p>
    </div>

    <div class="droite">
        <h4>
            Laurent Dhondt dit "Lolo", Développeur .net Junior
        </h4>
        <img  src="https://scontent.fbru2-1.fna.fbcdn.net/v/t1.0-9/54263982_10218841965269713_1350278765141295104_n.jpg?_nc_cat=102&_nc_ht=scontent.fbru2-1.fna&oh=582f83509699d58d24e764a6375c6f19&oe=5D0D8341" class="image"/>
        <p>
            Fan de jeu de rôle, il a repris l'univers de The Elder Scrolls pour faire avec Alex cet aide aux jeux de rôle.
        </p>
    </div>
</div>

