@{
    ViewBag.Title = "JDRHelper";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Notre projet est une aide pour un jeu de rôle sur le thème de The Elder Scrolls (univers fantastique
    médiéval) que l’un de nous a créé.
    Notre but est de permettre aux participants du jeu de rôle d’avoir facilement accès aux
    caractéristiques des personnages, ainsi que de laisser la possibilité au MJ (maître du jeu) de
    modifier les personnages existants, afin de remplacer les fiches en papier des personnages.
    Nous étions d’abord partis pour en faire un programme en ADO, mais nous avons finalement fait une
    application en ASP.net pour pouvoir peut-être le publier un jour.
</p>
