body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(http://mmo4ever.com/eso/gfx/map/tamriel.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron {
    margin: auto !important;
    padding: 0 !important;
    background-color: transparent !important;
    background-position: top !important;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.div > *{
    background: rgb(255, 255, 255 , 0.3) !important;
}

.gauche {
    float : left ;
    width : 40%;
}

.droite {
    float: right;
    width: 40%;
}

.image {
    width: inherit;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom : 15px;
    text-align: center;
    display : block ; 
    float : left;
}